<div data-role="view" data-id="places-view" data-title="About"
     data-layout="home-layout">
    <span><img src='styles/images/Logo.png' style="margin-top:2%; height:8%;"/><h3 style='display:inline;'>Do NOT let Hunger Strike you</h3></span>
    <hr>
    <p>
        FoodHub is inspired by my life long obsession with quality food and cooking.
    </p>
    <p>
        Only one click and you will find the nearest food places. It doesn't matter where you are, if there is a quality 'FOOD' place around you will know the address!
    </p>
    <p>
        The FoodHub has also an advanced search function. With this feature you are able by a specific address or even only by town and country name to check the food places for your next holyday trip anywhere in the world. Now it's really easy to know at any time where to eat and which is the right food place for you and even book in advance by the offered detailed information.
    </p>
    <p>
        But please be careful, always eat and drink with care!
    </p>
    <p>If you face any problem please contact the developer at i_bashev@abv.bg.</p>
    <hr>
        <p style="text-align:center;"><a href="http://foodhub.ibashev.com/">http://foodhub.ibashev.com/</a></p>
    <hr>
    <p style="text-align:center;">Copyright © FoodHub 2013, by Yancho Bashev.</p>
</div>  