<div id="place-detailed"
     data-role="view"
     data-title="Food Place Details"
     data-show="showDetail"
     data-style="inset"
     data-layout="main-layout">
    
    <h2 data-bind="text: data.name"></h2>
    <div ata-style="inset" style="margin-top:5%; margin-left:5%;">
        <div style="padding:2%; background-color: #33B5E5;">
            <span>Type: </span>
            <span data-bind="text: data.categories[0].pluralName"></span>
        </div>
        <div style="padding:2%;">
            <span>Phone: </span>
            <span data-bind="text: data.contact.formattedPhone"></span>
        </div>
        <div style="padding:2%; background-color: #33B5E5;">
            <span>Address: </span>
            <span data-bind="text: data.location.address"></span>
        </div>
        <div style="padding:2%;">
            <span>Postal Code: </span>
            <span data-bind="text: data.location.postalCode"></span>
        </div>
        <div style="padding:2%; background-color: #33B5E5;">
            <span>URL: </span>
            <span data-bind="text: data.location.url"></span>
        </div>
        <div style="padding:2%;">
            <span>Distance: </span>
            <span data-bind="text: data.location.distance"></span>
        </div>
        <div style="padding:2%; background-color: #33B5E5;">
            <span>City: </span>
            <span data-bind="text: data.location.city"></span>
        </div>
        <div style="padding:2%;">
            <span>Country: </span>
            <span data-bind="text: data.location.country"></span>
        </div>
    </div>
    <a class="position-right button" href="views/location-map-view.html" data-role="button"  style="color: #fff; background-color: #f60; width:85%; font-size:14px; heigh:10px; margin-left:4%; margin-top:5%;" >Map</a>
</div>