<div data-role="view" id="places-view" data-id="places-view"
     data-layout="main-layout" data-title="Places"
     data-show="app.places.init">
    
    <a data-role="button" data-bind="events: {click: getAll}">Refresh</a>
    
    <ul data-role="listview" data-bind="source: places" data-template="place-template">
    </ul> 
</div>

<script id="place-template" type="text/x-kendo-template">
    <div>
        <span class="exercise-name">${name}</span>
        <a class="position-right button" href="views/detailed-places-view.html?uid=${id}" data-role="button">Map</a>
    </div>
</script>